<footer class="fdb-block footer-large">
  <div class="container">
    <div class="row align-items-top text-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-sm-left">
        <h3><strong>Product</strong></h3>
        <nav class="nav flex-column">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/product">Product</a>
          <a class="nav-link" href="/teams">Teams</a>
          <a class="nav-link" href="/docs">Docs</a>
          <a class="nav-link" href="https://medium.com/optic-blog">Blog</a>
        </nav>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-left">
        <h3><strong>Open Source</strong></h3>
        <nav class="nav flex-column">
          <a class="nav-link active" href="https://github.com/opticdev">Our Projects</a>
          <a class="nav-link" href="/contributors">Contributors</a>
          <a class="nav-link" href="/grants">Grants</a>
        </nav>
      </div>

      <div class="col-12 col-md-4 col-lg-3 text-md-left mt-5 mt-md-0">
        <!--<h3><strong>Write Your Best Code</strong></h3>-->
        <!--Help developers write their best code.-->
        <p></p>
      </div>

      <div class="col-12 col-lg-2 ml-auto text-lg-left mt-4 mt-lg-0">
        <h3><strong>Follow Us</strong></h3>
        <p class="text-h3">
          <a href="https://twitter.com/useoptic"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a href="https://github.com/opticdev"><i class="fa fa-github" aria-hidden="true"></i></a>&nbsp;&nbsp;
        </p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col text-center">
        Made with &#9829; at Optic Labs
      </div>
    </div>
  </div>
</footer>

<script>
	window.intercomSettings = {
		app_id: "xx7buah0"
	};
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/xx7buah0';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
	0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
	for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("c0297cb80a0ef23482d83ec59c74b8f9");</script><!-- end Mixpanel -->
