<!DOCTYPE html>
<html>
<head>
  <title>Optic -- {{ site.data.maincopy.banner }}</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112777347-1"></script>
  <script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-112777347-1');
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

  <link type="text/css" rel="stylesheet" href="./css/froala_blocks.css">
  <link type="text/css" rel="stylesheet" href="./css/optic.css">

  <style>
    #navigator {
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    #navigator .navbar-toggler-icon {
    	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    @media (max-width: 720px) {
      #navigator {
        border-bottom: 1px solid #ccc;
      }
    }

    #navigator a {
      font-size: 14px;
    }

    #navigator + section {
      padding: 250px 0;
    }
  </style>
</head>

<body>

{% include header.html %}

<section class="fdb-block fdb-viewport optic-home-hero">
  <div class="container  d-flex">
    <div class="row  text-left">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h1 style="color: #DFDFDF">{{ site.data.maincopy.banner }}</h1>
        <p class="text-h3" style="color: #DFDFDF">{{ site.data.maincopy.subtext }}</p>
        <p class="mt-5">
          <a href="/get-optic" class="btn btn-shadow">Get Started</a>
        </p>
      </div>

    </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <h1>{{ site.data.maincopy.connect.header }}</h1>
        <p>{{ site.data.maincopy.connect.subtext }}</p>
      </div>
      <div class="col-12 col-md-8 col-lg-6 m-auto mr-lg-0 ml-lg-auto pt-5 pt-lg-0">
        <img alt="image" class="img-fluid" width="100%" src="./imgs/connect.png">
      </div>
    </div>
  </div>
</section>


<section class="fdb-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 col-lg-6 m-md-auto ml-lg-0 mr-lg-auto">
        <img alt="image" class="img-fluid" width="100%" src="./imgs/ask-questions-of-optic.png">
      </div>
      <div class="col-12 col-lg-6 col-xl-5 ml-sm-auto pt-5 pt-lg-0">
        <h1>{{ site.data.maincopy.ask.header }}</h1>
        <p>{{ site.data.maincopy.ask.subtext }}</p>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</section>


<section class="fdb-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <h1>{{ site.data.maincopy.highlight.header }}</h1>
        <p>{{ site.data.maincopy.highlight.subtext }}</p>
      </div>
      <div class="col-12 col-md-8 col-lg-6 m-auto mr-lg-0 ml-lg-auto pt-5 pt-lg-0">
        <img alt="image" class="img-fluid" width="100%" src="./imgs/highlight-code-suggestions.png">
      </div>
    </div>
  </div>
</section>


<section class="fdb-block">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <div class="row justify-content-center pb-5">
          <div class="col-12 col-lg-8 text-center">
            <h1>Watch Video</h1>
          </div>
        </div>

        <iframe width="760" height="515" src="https://www.youtube.com/embed/sMXcKMKYZ8c?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<section class="fdb-block bg-gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12  col-md-10 col-lg-8 col-xl-6 text-center">
        <img alt="image" height="40" src="./imgs/img_round.svg">
        <h1>{{ site.data.maincopy.subscribe.header }}</h1>
        <p class="text-h3">{{ site.data.maincopy.subscribe.message }}</p>
        <p class="text-h5"><em>*We will never share your email & we promise to be respectful of your time.</em></p>
        <div class="input-group mt-4 mb-4">
          <form style="width: 100%;" action="https://opticdev.us17.list-manage.com/subscribe/post?u=8d0971c44031012e6c5292ccd&amp;id=37d217e491" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address" style="position: absolute; width: 100%;">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8d0971c44031012e6c5292ccd_37d217e491" tabindex="-1" value=""></div>
          <div class="input-group-btn" style="margin-top: 40px">
            <input type="submit" class="btn" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="margin: auto; margin-top: 10px">
          </div>
          </form>
      </div>
    </div>
  </div>
  </div>
</section>

{% include footer.html %}

</body>
</html>
